@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900;
  background-color: #fefef5;
  width: 400px;
  height: 700px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}